.load_text_btn {
    cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABL0lEQVR4Ae3asY3CQBBG4c2cuAW4ZDOT3ExrUANyCUcRUMJRgt0JsoSIYAkdIjHGP5bem5jgk5B2LE16JyIios3Kdnb2i5cPz8XOttus0pQ1tZ/s4WW+sYefmjpNU66s9zL/WJ+rSQB28KIZO6R4lu0uA9wthwG+9yKcfRhgnRJgfRjgNyXAr3FA0c63AgAASBOnAgAA8OoHAAAA0A4AAAAAaAcALzEAAAAAAOAlBgAgOgAA8D0AAAAAAAAWCeAlBgBgkAKGMEB/chYFtFJAGwb8/ijPLn0dBqRkf/rD1xAgV9bpTo8DgLGmtuPcx992bOqUwoAxX/t2nvN7//ft+N+PA/QBAAAAwCcDMCz8uNu6pQPahQPi+74YoNn3A4Dgvq8HiPf9OEC378cBRERET7IfaxjFKr5WAAAAAElFTkSuQmCC);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: sans-serif;
    font-size: medium;
    position: relative;
    display: inline-block;
    left: 10px;
}
  
/* Tooltip text */
.load_text_btn .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -175px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.load_text_btn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltiptext > div {
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

/* Show the tooltip text when you mouse over the tooltip container */
.load_text_btn.active .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* width */
.tooltiptext > div::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tooltiptext > div::-webkit-scrollbar-track {
    border-radius: 0 5px 5px 0;
    background: #555; 
}

/* Handle */
.tooltiptext > div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.tooltiptext > div::-webkit-scrollbar-thumb:hover {
    background: #555;
}